* {
	font-family: 'Lexend Deca', sans-serif;
}

ol, ul {
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
}

ol:empty, ul:empty {
	display: none;
}

textarea {
	resize: none;
}

label {
	display: block;
	margin-bottom: 5px;
	text-decoration: underline;
}

.fieldset {
	margin-bottom: 10px;
	margin-right: 10px;
}

.float {
	float: left;
}

.fields::after {
	content: "";
	clear: both;
	display: table;
}
